<footer id="footer" class="content gray" role="group">
    <div class="wrapper center-align">
        <div class="footer-group">
            <a href="https://github.com/mayank-02" class="footer-social" aria-label="GitHub">
                <i class="fa fa-github-square" aria-hidden="true" title="GitHub"></i>
                mayank-02
            </a>
        </div>
        <div class="footer-group">
            <a href="https://www.linkedin.com/in/mayank-v-jain" class="footer-social" aria-label="LinkedIn">
                <i class="fa fa-linkedin-square" aria-hidden="true" title="LinkedIn"></i>
                mayank-v-jain
            </a>
        </div>
        <div class="footer-group">
            <a href="mailto:mayank20399@gmail.com" class="footer-social" aria-label="Email">
                <i class="fa fa-envelope" aria-hidden="true" title="Email"></i>
                mayank20399@gmail.com
            </a>
        </div>
    </div>
</footer>
<div class="footer-rainbow">
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
</div>
