Hi there! <span style="font-size: 90%;">👋</span>
<br>
I’m <span class="intro-emphasis"><a class="intro-link">Mayank Jain</a></span>. I’m a Computer Science Master's student at <span class="intro-emphasis"><a class="intro-link" href="https://ucsd.edu">University of California, San Diego (UCSD)</a></span>.
<br><br>

Previously, I worked in the Systems team at <span class="intro-emphasis"><a class="intro-link" href="http://deshawindia.com">D. E. Shaw</a></span> for two years. I have also interned at <span class="intro-emphasis"><a class="intro-link" href="http://www.nvidia.com">NVIDIA</a></span> in their Autonomous Vehicles team.
<br><br>
