<nav role="navigation">
    <ul class="header-nav-list header-social-nav">
        <li>
            <i class="fa fa-envelope" aria-hidden="true" title="Email" style="font-size: 21px;"></i>
            <a href="mailto:mayank20399@gmail.com">mayank20399@gmail.com</a></li>
        </li>
        <li>
            <i class="fa fa-github-square" aria-hidden="true" title="GitHub" style="font-size: 24px;"></i>
            <a href="https://github.com/mayank-02/">mayank-02</a></li>
        </li>
        <li>
            <i class="fa fa-linkedin-square" aria-hidden="true" title="LinkedIn" style="font-size: 24px;"></i>
            <a href="https://www.linkedin.com/in/mayank-v-jain">mayank-v-jain</a>
        </li>
        <li>
            <i class="fa fa-instagram" aria-hidden="true" title="Instagram" style="font-size: 24px;"></i>
            <a href="https://www.instagram.com/mayaank_jain">mayaank_jain</a>
        </li>
    </ul>
    <div class="header-nav-divider"></div>
    <ul class="header-nav-list header-social-nav">
        <li>
            <i class="fa fa-file" aria-hidden="true" title="Resume" style="font-size: 23px;"></i>
            <a href="/resume">Resume</a>
        </li>
    </ul>
</nav>
