<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_SVG"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            displayMath: [['$$','$$'], ['\[','\]']],
            processEscapes: true,
            processEnvironments: true,
        }
    });
</script>

<!-- https://saswatpadhi.github.io/pseudocode.js/ -->
<link rel="stylesheet" type="text/css" href="/css/pseudocode.min.css">
<script type="text/javascript" src="/javascripts/pseudocode.min.js"></script>

<script type="text/javascript" src="/javascripts/isotope.pkgd.min.js"></script>

<script type="text/javascript" src="/javascripts/jquery.scrollme.min.js"></script>
<script type="text/javascript" src="/javascripts/lazysizes.min.js"></script>

<script type="text/javascript" src="/javascripts/scripts.min.js"></script>

<script>
    window.onblur = function() {
        document.title = "Where'd you go? ツ";
    };
    window.onfocus = function() {
        document.title = "{{ page.title }} | Mayank Jain";
    };

    document.addEventListener('DOMContentLoaded', function () {
    var allLinks = document.querySelectorAll('a');

    allLinks.forEach(function (link) {
      link.addEventListener('click', function () {
        gtag('event', 'click', {
          'event_category': 'link',
          'event_label': link.href
        });
      });
    });
  });
</script>
